.Logo {
    
    word-break: break-all;
    -ms-word-break: break-all;

    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: break-word;

    hyphens: auto;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;

    font-family: var(--brand-font-family);
    font-size: clamp(1.5rem, 4vw, 2rem);
    font-weight: 700;
    line-height: 1;

    color: white;

    display: grid;
    place-items: center;
    text-align: center;
    border-radius: 50%;
}