.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--brand-color-l-high);
    padding: 10px 10%;
}
.login_style{
    font-family: var(--primary-font);
}