a{
    font-family: var(--primary-font) !important;
    font-size: 1em;
    font-weight: 600;
    padding: .25em .75em;

    background-color: var(--brand-color-high);
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: background-color .15s;

}
a{
    text-decoration: none;
    color: var( --secondary-color-l-base) !important;
}
a:hover{
    color: var(--brand-color-l-higher) !important;
}
a.isActive{
    font-weight: bold;
    pointer-events: none;
    color: var(--brand-color-l-base) !important

}